<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/dashboard">Dashboard</a>
    <a href="/logout">Logout</a>
    <Coloh1>Heres the info for car no: {{one_car.id}}</h1>
    <h2>color :{{ one_car.color }}</h2>
    <h2>Seats :{{ one_car.num_of_seats }}</h2>
    <h2>Driver :{{ one_car.driver.first_name }}</h2>
</body>
</html>